* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  margin: 1rem 0rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.image-header {
  max-width: 100%;
}

.container {
  max-height: 60vh;
  max-width: 60vh;
  margin: 2rem 0rem;
}
