* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

.image-header {
  max-width: 100%;
  border-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container {
  margin: 2rem 0rem;
  border-radius: 1rem;
  max-width: 32rem;
  min-width: 32rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-box {
  padding: 2rem;
  gap: 1rem;
}

.select-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

.buttons-form {
  justify-content: space-evenly;
}

.button {
  width: 9rem;
  aspect-ratio: 3;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #0563af;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

select {
  background-color: #0563af;
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.2rem;
}

.disabled {
  background-color: #e5e5e5;
  color: black;
}

#resetButton {
  background-color: #fe6d73;
}
